	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/06/2020 09:08
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
        url("./Flaticon.woff2") format("woff2"),
        url("./Flaticon.woff") format("woff"),
        url("./Flaticon.ttf") format("truetype"),
        url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 2em;
  font-style: normal;
/* margin-left: 20px; */
}

.flaticon-cancel, .flaticon-check, .flaticon-edit {
  font-size: 0.3em;
  margin-right: 15px;
}

.flaticon-check {
  color: #01d28e;
}

.flaticon-cancel {
  color: red;
}

.flaticon-edit {
  color: #007bff;
}

#selectVhs span[class*="flaticon"] {
  font-size: 0.45em;
}

.headerInfo span[class*="flaticon"] {
  font-size: 0.5em;  
}

/* #mainContent span[class*="flaticon"] {
  width: 100%;
} */

.flaticon-dashboard:before { content: "\f100"; }
.flaticon-piston:before { content: "\f101"; }
.flaticon-safety-seat:before { content: "\f102"; }
.flaticon-backpack:before { content: "\f103"; }
.flaticon-diesel:before { content: "\f104"; }
.flaticon-edit:before { content: "\f105"; }
.flaticon-email:before { content: "\f106"; }
.flaticon-cancel:before { content: "\f107"; }
.flaticon-address:before { content: "\f108"; }
.flaticon-check:before { content: "\f109"; }

